.search-container {
  display: block;
  padding-top: 20px;
  width: 350px;
  position:relative;
}

.search-box {
  width: 100%;
  box-sizing: border-box;
  border:1px solid #111;
  transition: .3s border;
  display:inline-block;
  height:40px;
  display: block;
}


.search-box:focus {
  outline: #336699 auto 1px;
}

.search-box:hover{
  border:1.5px solid #111;
}

svg {
  width: 15px;
  height: 15px;
  position:absolute;
  display:inline-block;
  left:325px;
  top:35px;
}

/* ***** */
li {
  list-style-type: none;
}
.search-result li button {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result-active {
  background-color: lavender;
  color: white;
}


.search-result li button:hover {
  background-color: lavender;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

/* ***** reset button style ***** */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: "Atkinson Hyperlegible";
  background: white;
  color: #ffffff;
  cursor: pointer;
  text-align: start;
}


button:active {
  transform: scale(0.99);
}


