.search-container {
  padding-top: 20px;
  width: 350px;
  position:relative;
}

.search-box {
  width: 100%;
  box-sizing: border-box;
  border:1px solid #111;
  transition: .3s border;
  display:inline-block;
  height:40px;
}

.search-box:hover{
  border:1.5px solid #111;
}

svg {
  width: 15px;
  height: 15px;
  position:absolute;
  display:inline-block;
  left:325px;
  top:38px;
}



